body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(34, 34, 34) ;
    color:rgb(108, 165, 211);
}
button{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.log{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    font-size: 32px;
}
.container{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.log-container{
    font-size: 32px;
    display: flex;
    justify-content: center;
    gap: 24px;
}